In [3]:
# sqliteを利用
import sqlite3

In [4]:
conn = sqlite3.connect('./sqlite/test.sqlite')
c = conn.cursor()

In [ ]:
# 初期userを追加
c.execute('''CREATE TABLE IF NOT EXISTS users 
          (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

# もしデータがなければ追加
c.execute("SELECT COUNT(*) FROM users")
if c.fetchone()[0] == 0:
    c.execute("INSERT INTO users (name, age) VALUES ('Alice', 30)")
    c.execute("INSERT INTO users (name, age) VALUES ('Bob', 25)")
conn.commit()

In [ ]:
# hobbyテーブルを追加
c.execute('''CREATE TABLE IF NOT EXISTS hobbies
          (id INTEGER PRIMARY KEY, user_id INTEGER, hobby TEXT,
           FOREIGN KEY(user_id) REFERENCES users(id))''')
# もしデータがなければ追加
c.execute("SELECT COUNT(*) FROM hobbies")
if c.fetchone()[0] == 0:
    c.execute("INSERT INTO hobbies (user_id, hobby) VALUES (1, 'Reading')")
    c.execute("INSERT INTO hobbies (user_id, hobby) VALUES (1, 'Hiking')")
    c.execute("INSERT INTO hobbies (user_id, hobby) VALUES (2, 'Cooking')")
conn.commit()

In [6]:
res = c.execute("SELECT * FROM users")
for row in res:
    print(row)

(1, 'Alice', 30)
(2, 'Bob', 25)

In [9]:
res = c.execute("SELECT * FROM users JOIN hobbies ON users.id = hobbies.user_id")
for row in res:
    print(row)

(1, 'Alice', 30, 1, 1, 'Reading')
(1, 'Alice', 30, 2, 1, 'Hiking')
(2, 'Bob', 25, 3, 2, 'Cooking')